<nav class="navbar fixed-top navbar-light bg-light">

</nav>

<div class="container-fluid main-container" style="margin-top: 120px">
  <!-- Mostrar uploaders si alguno falta -->
  @if (!mainJsonData || !translationJsonData) {
  <div class="row text-center">
    <div class="col-md-6 mb-4">
      <h5>Main JSON</h5>
      <app-file-loader
        (fileLoaded)="onMainFileLoaded($event)"
      ></app-file-loader>
    </div>
    <div class="col-md-6 mb-4">
      <h5>Translation JSON</h5>
      <app-file-loader
        (fileLoaded)="onTranslationFileLoaded($event)"
      ></app-file-loader>
    </div>
  </div>
  }

  <!-- Mostrar los dos editores cuando ambos archivos estén cargados -->
  @if (mainJsonData && translationJsonData) {
  <div class="row">
    <div class="col-md-6">
      <h5 class="text-center mb-3">Main JSON Editor</h5>
      <app-translation-editor
        [data]="mainJsonData"
        (dataChange)="onMainDataChange($event)"
      ></app-translation-editor>
    </div>

    <div class="col-md-6">
      <h5 class="text-center mb-3">Translation JSON Editor</h5>
      <app-translation-editor
        [data]="translationJsonData"
        (dataChange)="onTranslationDataChange($event)"
      ></app-translation-editor>
    </div>
  </div>

  <footer class="bg-light text-center mt-4 py-3">
    <button class="btn btn-warning mx-2" (click)="downloadMainFile()">
      <i class="fa fa-download"></i> Download Main JSON
    </button>
    <button class="btn btn-success mx-2" (click)="downloadTranslationFile()">
      <i class="fa fa-download"></i> Download Translation JSON
    </button>
  </footer>
  }
</div>
